body {
  background-color: #7d72b9;
  margin: 0;
}
.joke {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.joke--text {
  font-size: 30px;
  padding: 30px;
  text-align: center;
}
