
:root {
  --bg-color: #333366;
  --text-color: #CC9966;
  --text-highlight-color: FFCC99;
  --link-color: #99CC66;
  --link-hover-color: #669933;
  // Palette: https://paletton.com/#uid=34h100kllllaFw0g0qFqFg0w0aF
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-size: 30px;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover, a:focus {
  color: var(--link-hover-color);
}

.layout {
  display: grid;
  grid-template-rows: [header] minmax(0, auto) [content] auto [footer] minmax(0, auto);
  align-content: space-between;
  min-height: 100vh;
}
.layout--content {
  grid-row: content;
}
.layout--footer {
  grid-row: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.joke {
  display: flex;
  justify-content: center;
  align-items: center;
}
.joke--text {
  padding: 30px;
  text-align: center;
  color: var(--text-highlight-color);
}

.footer--hint {
  font-size: 18px;
}


