:root {
  --large-font-size: 36px;
  --small-font-size: calc(var(--large-font-size) / 2);
  --padding: 15px;
  --bg-color: #333366;
  --text-color: #CC9966;
  --text-highlight-color: FFCC99;
  --link-color: #99CC66;
  --link-hover-color: #669933;
  // Palette: https://paletton.com/#uid=34h100kllllaFw0g0qFqFg0w0aF
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-size: var(--large-font-size);
  color: var(--text-color);
  font-family: 'Barriecito';
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--link-hover-color);
}

.layout {
  display: grid;
  grid-template-rows: [header] minmax(0, auto) [content] auto [footer] minmax(0, auto);
  align-content: space-between;
  min-height: 100vh;
}
.layout--header {
  grid-row: header;
  text-align: center;
  padding-top: var(--padding);
}
.layout--content {
  grid-row: content;
}
.layout--footer {
  grid-row: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: baseline;
  padding: var(--padding);
}

.animation--action {
  position: absolute;
  animation: spin 1000ms ease-out infinite;
}
@keyframes spin {
  100% { transform: rotate(710deg); }
} 

.logo--middle {
  transform: rotate(10deg);
  position: absolute;
}

.logo--end {
  margin-left: 55px;
}

.joke {
  display: flex;
  justify-content: center;
  align-items: center;
}
.joke--text {
  padding: 30px;
  text-align: center;
  color: var(--text-highlight-color);
}

.footer--hint {
  font-size: var(--small-font-size);
}


